<h1>New Student for <%= @course.name%></h1>

<form action="/create_course_student">
  <input type="hidden" name="course_id" value="<%= @course.id %>">
  <div>
    <div>
    <label for="student_id">Student</label><br />
    <select name="student_id">
      <% @students.each do |student| %>
      <option value="<%= student.id %>"><%= student.name %></option>
      <% end %>
    </select>
    </div>
  </div>
  <div>
    <input type="submit">
  </div>
</form>
